*
{
	margin: 0;
	padding: 0;
	border: 1px solid black;
	
}

body
{
	overflow: scroll;
	overflow-x: scroll;
	background-color: gray;
	padding: 0;
	margin: 0;
}


.container
{
	border: 3px solid #00000;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color:  pink;
}

.header
{
	clear: both;
}

.content
{
	width: 78%;
	float: left;
	text-align: center;
	margin-left: 0;
	margin-right: 0;
	background-color: indigo;
}



.profile
{
	float: right;
	width: 11%;
	height:10%;
	margin: 0;
	
}

.profile img
{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}


.navigation
{
	
	float:left;
	border-Style: solid outset outset solid; 
	border-color: #32CD32;
	border-width: 3px 8px 8px 3px;
	width: 10%;
	height: 100%;
	margin: 0;
	padding: 0;
	z-index: 1;
	background-color: blue;
	
}

ul
{

	
}

li
{
	list-style-type: none;
	
}


.footer
{
	float: bottom;
	font-style: italic;
	margin-left:11%;
	min-height:10%;
	width: 78%;
	text-align: center;
	clear: both;
	margin-top: relative;
	background-color: brown;
}

.button
{
	border: 3px outset lime;
	margin-bottom: 5%;
	padding: 12%;
	font-size: 150%;
	text-align: center;
	word-wrap: normal;
	background-color: yellow;
	display: block;
	

}

.buttonCurrent
{
	border: 6px inset lime;
	margin-bottom: 5%;
	padding: 12%;
	font-size: 150%;
	text-align: center;
	word-wrap: normal;
	background-color: red;
	display: block;
}
	

.button:hover
{
	background-color: lime;
}


.button:active
{
	text-decoration:none;
	background-color: green;
}


	
a:link
{
	text-decoration: none;
	color: black;
}

a:visited
{
	text-decoration: none;
	color: black;
}


a:hover
{
	background-color: lime;
	
}

a:active
{
	background-color: green;
	color: blue;
}

#sintec
{
	float: left;
	margin-bottom: 10%;
	margin-left: 5%;
}

#greenway
{
	float: left;
	margin-right: 30%;
	margin-left: 5%;
}

#southwire
{
	float: right;
	margin-bottom: 10%;
	margin-right: 5%;
}

#backwoods
{
	float: right;
	margin-right: 5%;
	
}

#sintec, greenway, southwire, backwoods
{
	width: 40%;
	
}
		
iframe
{
	width: 100%;
}

#wrapperLeft
{
	width: 49%;
	float: left;
}

#wrapperRight
{
	width:49%;
	float: right;
}

#panel
{
	display:none;
}

.flip
{
	text-align: center;
	margin: auto;
	font-size: 1em;
	border: 1px solid green;
}
